version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    groups:
      npm-dependencies:
        patterns:
          - '*'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'chore'
      include: 'scope'
